<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.rism.odyssey2016" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <permission android:name="dev.rism.odyssey2016.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="dev.rism.odyssey2016.permission.C2D_MESSAGE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name=".Activity.MainActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.HomeActivity"
            android:resumeWhilePausing="true"
            android:alwaysRetainTaskState="true"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.EventActivity"/>
        <activity android:name=".Activity.TestActivity"/>
        <activity android:name=".Activity.YoutubeActivity"/>
        <activity android:name=".Activity.TimerActivity"/>
        <activity android:name=".Activity.EventItemActivity"/>
        <activity android:name=".Activity.FeedActivity"/>
        <activity android:name=".Activity.ProfileActivity"/>
        <activity android:name=".Activity.LoginActivity"/>
        <activity android:name=".Activity.SignUpActivity"/>
        <activity android:name=".Activity.ContactsActivity"/>
        <activity android:name=".Activity.AboutActivity"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"

            android:label="@string/app_name" />
        <service android:name="com.batch.android.BatchPushService" />
        <receiver android:name="com.batch.android.BatchPushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="dev.rism.odyssey2016" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
